.loginForm, .registerForm {
    margin-top: 70px;
}

.profileForm {
    margin-top: 40px;
}

.profile {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profileAvatar {
    max-height: 200px;
    max-width: 200px;
}

.news {
    margin-top: 40px;
}

.addNewsForm {
    margin-top: 40px;
}

.preview {
    max-height: 400px;
}

.newsPreview {
    min-height: 200px;
    margin-top: 40px;
    padding: 20px;
}

.frontpagePreview {
    max-height: 200px;
}
